.main {
    margin: 0 auto;
    width: 500px;
}

canvas {
    border: 1px solid black;
}

#skills {
    display: block;
}

.skill1 {
    margin: 15px;
    border: 0;
    border-radius: 50%;
    background-color: red;
    color: yellow;
    width: 50px;
    height: 50px;
}

.skill1:hover {
    background-color: rgb(255, 97, 97);
}

.skill1:disabled {
    background-color: gray;
    color: aliceblue;
}

.skill2 {
    margin: 15px;
    border: 0;
    border-radius: 50%;
    background-color: orange;
    color: yellow;
    width: 50px;
    height: 50px;
}

.skill2:hover {
    background-color: rgb(250, 188, 73);
}

.skill2:disabled {
    background-color: gray;
    color: aliceblue;
}

.skill3 {
    margin: 15px;
    border: 0;
    border-radius: 50%;
    background-color: purple;
    color: yellow;
    width: 50px;
    height: 50px;
}

.skill3:hover {
    background-color: rgb(247, 76, 247);
}

.skill3:disabled {
    background-color: gray;
    color: aliceblue;
}

.skill4 {
    margin: 15px;
    border: 0;
    border-radius: 50%;
    background-color: skyblue;
    color: rgb(170, 132, 63);
    width: 50px;
    height: 50px;
}

.skill4:hover {
    background-color: rgb(141, 186, 204);
}

.skill4:disabled {
    background-color: gray;
    color: aliceblue;
}

.skill5 {
    margin: 15px;
    border: 0;
    border-radius: 50%;
    background-color: cyan;
    color: rgb(180, 111, 47);
    width: 50px;
    height: 50px;
}

.skill5:hover {
    background-color: rgb(98, 221, 221);
}

.skill5:disabled {
    background-color: gray;
    color: aliceblue;
}

.finish {
    border: 0;
    background-color: rgb(37, 223, 121);
    border-radius: 5px;
    color: rgb(80, 80, 80);
    width: 400px;
    height: 50px;
}

.finish:hover {
    background-color: rgb(152, 230, 187);
}